@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
.btn-transparent{
    @apply border border-slate-500 block px-5 py-2 rounded shadow text-inherit my-10;
}
.btn-transparent:hover{
    @apply bg-cyan-500 duration-500 border-none shadow;
}
}
@layer components{
.form-input{
        @apply  px-3 py-3 outline-none bg-inherit border rounded border-slate-500 focus:border-sky-500;
    }
}
.eye-icon{
    position: absolute;
    top: 37.8%;
    right: 38.8%;
    cursor: pointer;
}