@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
.btn-transparent{
    @apply py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700;
}

}
@layer components{
.form-input{
        @apply  block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
    }
}
@layer components{
    .social-icon{
        @apply inline mx-2 hover:text-pink-500 duration-500 text-2xl;
    }
}
@layer components{
    .gradient-BG{
        @apply blur-3xl flex justify-center items-center;
    }
}
@layer components{
    .shadow-effect{
        @apply border border-cyan-500 shadow-xl shadow-cyan-500;
    }
}
.eye-icon{
    position: absolute;
    top: 37.8%;
    right: 38.8%;
    cursor: pointer;
}
.heading-container p{
    animation: slideLeft 1.3s ease-in-out 1;
}
.heading-container div{
    animation: slideUp 1.3s ease-in-out 1;
}
@keyframes slideLeft{
    from{
        transform: translateX(-600px);
        opacity: 0.2;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideUp{
    from {
        transform: translateY(180px);
        opacity: 0.3;
    } to {
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideRight {
    from {
        transform: translateX(360px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes fadeUp{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.contact-holder1{
    animation: slideRight 1.5s ease-in-out 1;
}
.contact-holder2{
    animation: slideLeft 1.5s ease-in-out 1;
}
.card{
    position: relative;
    animation: fadeUp 2s ease-in-out 1;
}
.image-container{
    animation: slideLeft 1.3s ease-in-out 1;
}
.info-container{
    animation: slideRight 1.3s ease-in-out 1;
}
.progress-bar{
    width: 67%;
    animation: grow 2s ease-in-out 1;
}
.card .absolute-cover{
    position: absolute;
    top: 110%;
    left: 0%;
    right: 0%;
    bottom: 0%;
}
.card:hover .absolute-cover{
    top: 0%;
    transition: all 0.5s ease-in-out;
}
.card:hover .blur-cover{
    filter: blur(5px);
}
@keyframes grow {
    from {
        width: 0%;
    }
    to{
        width: 67%;
    }
}