@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
.btn-transparent{
    @apply border border-slate-500 block px-5 py-2 rounded shadow text-inherit my-10;
}
.btn-transparent:hover{
    @apply bg-cyan-500 duration-500 border-none shadow;
}
}
@layer components{
.form-input{
        @apply  px-3 py-3 outline-none bg-inherit border rounded border-slate-500 focus:border-sky-500;
    }
}
@layer components{
    .social-icon{
        @apply cursor-pointer px-4 py-2 text-xl bg-teal-700 text-white  hover:bg-pink-700 duration-500;
    }
}
.eye-icon{
    position: absolute;
    top: 37.8%;
    right: 38.8%;
    cursor: pointer;
}
.heading-container p{
    animation: slideLeft 1.3s ease-in-out 1;
}
.heading-container div{
    animation: slideUp 1.3s ease-in-out 1;
}
@keyframes slideLeft{
    from{
        transform: translateX(-600px);
        opacity: 0.2;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideUp{
    from {
        transform: translateY(180px);
        opacity: 0.3;
    } to {
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideRight {
    from {
        transform: translateX(360px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}
.image-container{
    animation: slideLeft 1.3s ease-in-out 1;
}
.info-container{
    animation: slideRight 1.3s ease-in-out 1;
}